.titulo {
  text-align: center;
}

.container_pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  max-width: 1400px;
  padding: 0 0.8rem;
  margin: 0 auto;
}
