.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background: linear-gradient(104.04deg, #C0F2E9 14.79%, #F6C093 50.52%, #C4D5FA 87.02%);
}

.header nav ul li {
  display: inline;
  margin-left: 2rem;
}

.header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #212e4c;
  transition: all 0.2s;
}

.header nav ul li a:hover {
  background-color: #f1f1f1;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
}
